<%- include("../includes/head") %>
<body>
    <%- include("../includes/header") %>   
    <main>
        <h2><%= locals.title ? title : null %> </h2>
        <% if (product.image) { %>
            <img class="imagen-profile" src="/uploads/products/<%= product.image.url %>" alt="" srcset="">          
        <% } %>
        <section class="caja-producto-principal">

            <picture class="imagen-producto">
                <% if (product.image) { %>
                    <img class="imagen-profile" src="/uploads/products/<%= product.image %>" alt="" srcset="">          
                <% } %>
            </picture>
         
                <article class="caja-textos-principal">
                <article class="producto-datos">
                  <p><b>AÑO DE COSECHA:</b> <%= product.anno %></p>  
                  <p><b>VARIEDADES:</b><%= product.varietal %></p>
                  <p><b>TIPO:</b><%= product.tipoVino %></p>
                </article>
  
                <h4 class="titulo-maridaje-cata">NOTAS DE CATA</h4>
  
                <article class="producto-cata"> 
                   <p><%= product.notasCata %></p>
                </article> 
  
                <h4 class="titulo-maridaje-cata">MARIDAJE</h4>
  
                <article class="producto-maridaje"> 
                    <p><%= product.maridaje %></p>
                </article>  
                    <p class="precio">$<%= product.price %></p>
                </article>
                
            <div class="esquinero1"></div>
            <div class="esquinero2"></div> 
            <div class="esquinero3"></div> 
            <div class="esquinero4"></div>
            </article>
        </section>
    </main>
    <%- include("../includes/footer") %>
</body>
</html>