<%- include("./includes/head") %>
<body>
    <%- include("./includes/header") %>
 
    <main>

<section class="secciones-carrito">
    <article class="detalle-carrito"> <!--Reemplazar por express-->       
        <h3>Carrito de compras</h3>
        <article class="producto-agregado-carrito">        
                <% if (locals.products) { %> 
                    <% if (products.length > 0 )  { %>
                     <!-- <ul class="products"> -->
                        <% products.slice(0, 5).forEach(product => { %>
                            <article class="vinos-carrito">
                            <!-- <li class="product"> -->
                                <a href="/catalogo/<%= product.id %> " class="titulo-producto-carrito">  
                                    
                                    <% if (product.image) { %>
                                            <img class="imagen-profile-carrito" src="/uploads/products/<%= product.image %>" alt="" srcset="">                                
                                    <% } else { %>
                                        <img class="imagen-producto-carrito" src="/uploads/products/default.jpg" alt="" srcset="">
                                    <% }%>
                                </a>
                                <a href="/catalogo/<%= product.id %> " class="titulo-producto-carrito">  
                                    <span class="info-carrito-nombre">
                                        <%= product.name %> 
                                    </span>
                                </a>    
                                    <span class="info-carrito-precio">
                                        $<%= product.price %> 
                                    </span>
                                </a>             
                            </article>  
                        <% }) %>
                    <% } else { %>
                        <h2> No hay producto</h2>
                    <% } %>
                    <% } else { %>
                        <h2> No hay producto</h2>
               <% } %>
        </article>
    </article>

    <article class="detalle-tarjeta">
        <h3>Detalles de facturacion</h3>
        <article class="formularios-todos">
            <form action="/" method="post">
                <fieldset>
                    <legend>Numero de tarjeta</legend>
                    <label for="numero-tarjeta"></label>
                    <input class="barra-formulario" type="number" name="numero-tarjeta" id="numero-tarjeta" required placeholder="xxxx-xxxx-xxxx-xxxx">
                </fieldset>
                <fieldset>
                    <legend>Vencimiento</legend>
                    <label for="vencimiento"></label>
                    <input class="barra-formulario-fecha" type="text" name="vencimiento" id="vencimiento" required placeholder="**/**">
                </fieldset>
                <fieldset>                    
                    <legend>CDS</legend>
                    <label for="cds"></label>
                    <input class="barra-formulario-cds" type="number" name="cds" id="cds" required placeholder="***"> 
                </fieldset>
                <fieldset>
                    <legend>Nombre del titular</legend>
                    <label for="nombre-apellido"></label>
                    <input class="barra-formulario" type="text" name="nombre-apellido" id="nombre-apellido" required placeholder="Nombre y apellido">
                </fieldset>
                <fieldset>
                    <legend>DNI del titular</legend>
                    <label for="dni"></label>
                    <input class="barra-formulario" type="number" name="dni" id="dni" required placeholder="********">
                </fieldset>
                <fieldset>
                    <button class="boton-formulario" type="submit">Cargar tarjeta</button>
                </fieldset>
                <article class="medios-pago">
                    <h4>Medios de Pago</h4>
                    <p class="icon-pay"><i class="fab fa-cc-amex"></i></p>
                    <p class="icon-pay"><i class="fab fa-cc-visa"></i></p>
                    <p class="icon-pay"><i class="fab fa-cc-mastercard"></i></p>
                </article>
        </article>
    </article>

    <article class="resumen-compra">
        <article class="resumen-carrito">
            <h5>Resumen de la compra</h5>
            <article class="subtotales-1">
                <p>Subtotal</p>
                <p>Descuentos</p>
                <p>Total:</p>
            </article>
            <article class="subtotales-2">
                <p>$ 28.500,00</p>
                <p>$- 1.500,00</p>
                <p>$ 27.000,00</p>
                </article>
            </article>        
        <form action="/" method="post">
        <fieldset>
            <button class="boton-compra" type="submit">Finalizar compra</button>
        </fieldset>
    </article>

</section>

<article class="titulares">Recomendaciones</article>

<section class="recomendaciones-carrito">
    <section class="catalogo">
        
        <% if (locals.products) { %> 
            <% if (products.length > 0 )  { %>
             <!-- <ul class="products"> -->
                <% products.slice(12, 16).forEach(product => { %>
                    <article class="vinos">
                    <!-- <li class="product"> -->
                        <a href="/catalogo/<%= product.id %> " class="titulo-producto">  
                            
                            <% if (product.image) { %>
                                    <img class="imagen-profile" src="/uploads/products/<%= product.image %>" alt="" srcset="">                                
                            <% } else { %>
                                <img class="imagen-producto" src="/uploads/products/default.jpg" alt="" srcset="">
                            <% }%>
                            </a>
                            <section class="info">
                            <span>
                                <%= product.name %> 
                            </span>
                            <span>
                                $<%= product.price %> 
                            </span>
                            </section>
                            <section class="botones">
                            <form class="fs-button">
                                <input type="hidden" name="id" value="<%= product.id %>">
                                <button class="boton-agregar">Agregar</button>
                            </form>
                        </section>                   
                    </article>  
                <% }) %>
            <% } else { %>
                <h2> No hay producto</h2>
            <% } %>
            <% } else { %>
                <h2> No hay producto</h2>
       <% } %>
        </section>
</section>


    </main>
    <%- include("./includes/footer") %>
</body>
</html>

