<%- include("./includes/head") %>
<body>
    <%- include("./includes/header") %>
    <main>
          
        <section class="caja-producto-principal">
            
          <picture class="imagen-producto">
            <% if (product.image) { %>
                <img class="imagen-profile" src="/uploads/products/<%= product.image %>" alt="" srcset="">          
            <% } %>
            
            </picture>
       
            <article class="caja-textos-principal">
             <h3 class="producto-nombre"><%= product.name %></h3>
             <article class="producto-datos">
                <p><b>AÑO DE COSECHA: </b> <%= product.anno %></p>  
                <p><b>VARIEDADES: </b> <%= product['tipoVarietal'].name %></p>
                <p><b>TIPO: </b><%= product['tipoVino1'].name %></p>
                <p><b>BODEGA: </b><%= product['tipoBodega'].name %></p>
            </article>

             <h4 class="titulo-maridaje-cata">NOTAS DE CATA</h4>

             <article class="producto-cata"> 
                <p><%= product.notasCata %></p>
            </article> 

             <h4 class="titulo-maridaje-cata">MARIDAJE</h4>

             <article class="producto-maridaje"> 
                <p><%= product.maridaje %></p>
             </article>    

             <article class="agregar-producto">
              <b class="nombre-producto-bottom"><%= product.name %></b>
              <p class="precio">$ <%= product.price %></p>
              <p class="seleccionar"><i>Seleccione Cantidad:</i></p>
              <div class="cantidades">
                  <p class="mas-menos">-</p>
                    <p class="cantidad">1</p>
                  <p class="mas-menos">+</p>
              </div>
              <button>Agregar</button>
             </article>
             <div class="esquinero1"></div>
             <div class="esquinero2"></div> 
             <div class="esquinero3"></div> 
             <div class="esquinero4"></div>

            </article>



        </section> 


    </main>
    <%- include("./includes/footer") %>
</body>
</html>

