<%- include("../includes/head") %>
<body>
    <%- include("../includes/header") %>
    <main class="main-register">
        <form action ="/users/access" method="post" class="register-login">
            <h2>Identificarse</h2>
            <fieldset class="fs-e-mail">
                <label for="email">Correo Electronico</label>
                <input name="email" type="email" id="email" placeholder="Direccion de Email">
            </fieldset>
            <fieldset class="fs-pass">
                <label  for="password">Contraseña</label>
                <input name="password" type="password" id="password" placeholder="**********">
            </fieldset>

            <fieldset class="fs-kl">
                <input type="checkbox" name="kl" id="kl">
                <label for="kl">Recordarme</label>
            </fieldset> 
            <article class="botones-login">
            <fieldset class="fs-button">
                <button  type="submit">Identificarse</button>   
            </fieldset>
            <fieldset class="fs-button">
                <a href="/registro" ><button>Registrarse</button></a>  
            </fieldset>
        </article>
            <section class="fs-conectar">
                <a>Conectar con | </a>
                <a href="http://google.com" target="_blank"><img href="google.com" class="img-google" src="/images/logo-google.png" alt="icono-google"></a>
                <a href="http://facebook.com" target="_blank"><img href="facebook.com" class="img-fb" src="/images/logo-fb.jpg" alt="icono-fb"></a>
            </section> 
            

        </form>
        <% if (locals.errors && errors.email) { %>
            <p><%= errors.email.msg %> </p>
           <% } %>
           <% if (locals.errors && errors.password) { %>
               <p><%= errors.password.msg %> </p>
              <% } %>


    </main>
    <%- include("../includes/footer") %>
</body>
</html>