<%- include("../includes/head") %>
<body>
    <%- include("../includes/header") %>
    <main class="main-profile">
        <section>
            <p class="nombreUsuario">Bienvenido <%= user.nombre %> <%= user.apellido %></p>
            <p class="mailUsuario"><%= user.email %></p>
            <% if (user.image) { %>
                <img class="imagen-profile" src="/uploads/users/<%= user.image %>" alt="" srcset="">          
            <% } %>
            <article class="botones">
            <form action ="/users/update/<%= user.id %>">
                <button type="submit">Editar perfil</button>
            </form>
            <form action ="/users/logout" method="post" class="profile">                
                    <button type="submit">Cerar sesion</button>
            </form>
            </article>
        </section>
    </main>
    <%- include("../includes/footer") %>
</body>
</html>