<%- include("../includes/head") %>
<body>
    <%- include("../includes/header") %>
    <main class="main-profile">
        <section>
            <p>Bienvenido <%= user.nombre %> <%= user.apellido %></p>
        
            <% if (user.image) { %>
                <img class="imagen-profile" src="/uploads/users/<%= user.image %>" alt="" srcset="">          
            <% } %>
            <form action ="/users/logout" method="post" class="profile">
                
                    <button type="submit">Logout</button>    
                
            </form>

    </main>
    <%- include("../includes/footer") %>
</body>
</html>