<%- include("../includes/head") %>
<body>

    <%- include("../includes/header") %>   
<main>
    <h2><%= locals.title ? title : null %> </h2>
    <form action="/users/update/<%=user.id%>"  method="post">
        <fieldset>
            <label for="nombre">Nombre</label>
                <input type="text" name="name" id="nombre" placeholder="Nombre" 
                       value= "<%= locals.user ? user.name : null %>">
        </fieldset>
        <fieldset>
            <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" placeholder="Apellido" 
                       value= "<%= locals.user ? user.apellido : null %>">
        </fieldset>
       <fieldset>
            <label for="file"></label>
            <input type="file" name="file" id="file" multiple>
        </fieldset>
        

            
        <fieldset>
            <button type="submit">Save</button> 
        </fieldset>
    </form>

</main>

    <%- include("../includes/footer") %>
</body>
</html>